.modiBtnBox{
    display: flex;
}

.List_rank{
    margin-right : 30px !important;
}

.memberList-itemBox{
    margin : 30px 0px !important;
    padding : 0px !important;
    display : flex !important;
    align-items : center !important;
}

.List-profileBox{
    display: flex;
}

.updateForm TextField {
    margin-right : 30px !important;
}

.selectDeleteBox{
    margin: 100px 0px 20px 0px !important;
}