.addressbook-wrap{
    width: 100%;
}

.addr-box{
    display: flex;
}

.addr-group{
    width: 30%;
    height: 700px;
}

.addr-addressbook{
    width: 70%;
    height: 700px;
}

.addr-title{
    margin: 40px 0px;
}

.group-add-btnbox{
    display:flex;
    padding : 30px 20px;
}

.group-addBtn{
    margin-right : 10px !important;
}

.addr-add-title{
    padding : 40px;
}